
<mat-card>
    <div class="container">
        <button class="ml10"
        routerLink="/items"
        mat-raised-button color="primary">Items</button>

        <button class="ml10"
        routerLink="/warehouses"
        mat-raised-button color="primary">Warehouses</button>

        <button class="ml10"
        routerLink="/inventories"
        mat-raised-button color="primary">Inventory</button>

        <button class="ml10"
        routerLink="/warehouse/item"
        mat-raised-button color="primary">Item Quantity</button>
    </div>
</mat-card>

