<mat-toolbar color="primary">
    <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Inventory System</span>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon mr10" aria-label="Example icon-button with heart icon">
      login 
    </button>
    <button routerLink="/signup" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      signup
    </button>
</mat-toolbar>
<mat-action-list>
  <button routerLink="/itemquantity" mat-list-item> Item Quantity </button>
</mat-action-list>
