
<div class="bootstrap-wrapper">
    <div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <h1 class="text-center mt10">Add Warehouse</h1>
    <form (submit)="addWarehouse()"
    class="text-center" >
<mat-form-field class = "full-width" appearance="outline">
    <mat-label>Warehouse Id</mat-label>
    <input [(ngModel)]="Warehouse.warehouseId"
    name = "warehouseId"
    matInput placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field class = "full-width" appearance="outline">
    <mat-label>Warehouse Name</mat-label>
    <input [(ngModel)]="Warehouse.warehouseName"
    name = "warehouseName"
    matInput placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field class = "full-width" appearance="outline">
    <mat-label>Address Id</mat-label>
    <input [(ngModel)]="Warehouse.address.addressId"
    name = "addressId"
    matInput placeholder="Placeholder">
  </mat-form-field>
  <div class="container text-center"> 
    <button type = "submit"  mat-raised-button color ="primary">Add</button>
</div>
</form>
</div>
</div>
</div>