<mat-card *ngIf="userService.isLoggedIn()">
    <mat-action-list>
        <button *ngIf="userService.isLoggedIn()&& userService.getRole()=='ROLE_ADMIN'" 
        mat-list-item routerLink="/addItem">
            Add Item
        </button>
        <button *ngIf="userService.isLoggedIn()&& userService.getRole()=='ROLE_ADMIN'"
        mat-list-item routerLink="/addWarehouse">
            Add Warehouse
        </button>
        <button *ngIf="userService.isLoggedIn()&& userService.getRole()=='ROLE_ADMIN'" 
        mat-list-item routerLink="/addInventory">
            Add Inventory
        </button >
        <button 
         mat-list-item routerLink="/itemquantity">
            Item Quantity
        </button>
    </mat-action-list>
</mat-card>

