<div class="bootstrap-wrapper">
    <div class="container text-center">
    <h1>Inventories</h1>
    <table mat-table [dataSource]="inventory" class="mat-elevation-z8 table">
      <ng-container matColumnDef="inventoryId">
        <th mat-header-cell *matHeaderCellDef> Inventory Id </th>
        <td mat-cell *matCellDef="let element"> {{element.inventoryId}} </td>
      </ng-container>
      <ng-container matColumnDef="itemSize">
        <th mat-header-cell *matHeaderCellDef> Item Size </th>
        <td mat-cell *matCellDef="let element"> {{element.itemSize}} </td>
      </ng-container>
      <ng-container matColumnDef="inStock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.inStock}} </td>
      </ng-container>
      <ng-container matColumnDef="avlQty">
        <th mat-header-cell *matHeaderCellDef> Avl Qty </th>
        <td mat-cell *matCellDef="let element"> {{element.avlQty}} </td>
      </ng-container>
      <ng-container matColumnDef="inTransit">
        <th mat-header-cell *matHeaderCellDef> In Transit </th>
        <td mat-cell *matCellDef="let element"> {{element.inTransit}} </td>
      </ng-container>
      <ng-container matColumnDef="minOrderQuantity">
        <th mat-header-cell *matHeaderCellDef> Min Order Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.minOrderQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="quantityPerBox">
        <th mat-header-cell *matHeaderCellDef> Quantity Per Box </th>
        <td mat-cell *matCellDef="let element"> {{element.quantityPerBox}} </td>
      </ng-container>
      <ng-container matColumnDef="reorderPoint">
        <th mat-header-cell *matHeaderCellDef> Reorder Point</th>
        <td mat-cell *matCellDef="let element"> {{element.reorderPoint}} </td>
      </ng-container>
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef> Item Name </th>
        <td mat-cell *matCellDef="let element"> {{element.item.itemName}} </td>
      </ng-container>
      <ng-container matColumnDef="itemType">
        <th mat-header-cell *matHeaderCellDef> Item Type </th>
        <td mat-cell *matCellDef="let element"> {{element.itemType.itemType}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>
</div>
